@charset "UTF-8";

#container .content {
	margin: 0px auto;
	padding: 0 40px;
	width: 1160px;
}



/* 메모 헤더 */
#container .content .memo_wrap .memo_header {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 40px 0;
}

#container .content .memo_wrap .memo_header h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
}



/* 메모 (재료 표) */
#container .content .memo_wrap .memo_content .ingredient_list thead th {
	text-align: left;
	background: #F9F9F9;
	padding: 16px;
	height: 50px;
	border-bottom: 1px solid var(--line-color2);
	font-size: 14px;
}

#container .content .memo_wrap .memo_content .ingredient_list tbody tr {
	height: 50px;
	border-bottom: 1px solid var(--line-color2);
	font-size: 14px;
}

#container .content .memo_wrap .memo_content .ingredient_list tbody tr td {
	padding: 16px;
}

#container .content .memo_wrap .memo_content .ingredient_list .delete_btn {
	background: none;
	border: none;
	width:25px;
	height: 25px;
}

/* 메모 (버튼) */
#container .memo_content .btn_wrap {
	margin-top: 16px;
	margin-left: auto;
}



/* 마트 헤더 */
#container .content .mart_wrap {
	padding: 80px 0;
}
#container .content .mart_wrap .mart_header {
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 40px 0;
}

#container .content .mart_wrap .mart_header h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
}

/* 마트 헤더 (버튼) */
.btn_icon img {
	width: 60%;
}
.btn_icon .left {
	margin-left: 5px;
}
.btn_icon .right {
	margin-left: 2px;
}




/* 지도 */
#container .content .mart_wrap .mart_content {
	display: flex;
	gap: 16px;
}
#container .content .mart_wrap .mart_content .map {
	height: 448px;
	width: 794px;
	background: #ddd;
}





/* 마트 목록 (마트 요소) */
#container .content .mart_wrap .mart_content .mart_list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
#container .content .mart_wrap .mart_content .mart_list .mart_box {
    display: flex;
    height: 80px;
    width: 270px;
    border: 1px solid var(--line-color2);
    border-radius: 4px;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box; 
}

/* 마트 목록 (글자) */
#container .content .mart_wrap .mart_content .mart_list .mart_box .mart_txt span {
	font-size: 16px;
	font-weight: 600;
}
#container .content .mart_wrap .mart_content .mart_list .mart_box .mart_txt .ping {
	margin-top: 2px;
	display: flex;
	align-items: center;
	gap: 3px;
}
#container .content .mart_wrap .mart_content .mart_list .mart_box .mart_txt .ping p {
	font-size: 14px;
	color: var(--txt-color-500);
}
#container .content .mart_wrap .mart_content .mart_list .mart_box .mart_txt .ping img {
	width: 14px;
	height: 14px;
}
