@charset "UTF-8";


#container .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 80px 40px;
	margin: 0px auto;
	min-height: 100vh;
	max-width: 448px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
}

/* 회원 정보 */
#container .content .info_wrap {
	padding: 48px 40px;
	width: 448px;
	border: 1px solid var(--line-color2);
	border-radius: 4px;
}

#container .content .info_wrap h2 {
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	letter-spacing: -1.2px;
	color: #212329;
}


#container .content .info_wrap h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: var(--txt-color-600);
}

#container .content .info_wrap p {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: var(--txt-color-600);
}



/* 계정 정보 */
#container .info_wrap .account_info {
	padding: 24px 0;
}

#container .info_wrap .account_info .username_field {
	 margin-top: 16px;
}



/* 기본 정보 */
#container .info_wrap .user_info {
	padding: 24px 0;
	border-top: 1px solid var(--line-color2);
}

#container .info_wrap .user_info .name_field {
	margin-top: 16px;
	margin-bottom: 24px;
}

#container .info_wrap .user_info .name_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .info_wrap .user_info .name_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .info_wrap .user_info .name_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

#container .info_wrap .user_info .nickname_field {
    margin-bottom: 24px;
}

#container .info_wrap .user_info .nickname_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .info_wrap .user_info .nickname_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .info_wrap .user_info .nickname_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

#container .info_wrap .user_info .tel_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .info_wrap .user_info .tel_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .info_wrap .user_info .tel_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}



/* 이메일 정보 */
#container .info_wrap .user_info .email_field {
    margin-top: 16px;
}

#container .info_wrap .user_info .email_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .info_wrap .user_info .email_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .info_wrap .user_info .email_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

#container .info_wrap .user_info .email_warning {
    margin-top: 16px;
    width: 100%;
    display: flex;
    background-color: rgb(255, 249, 242);
    border-radius: 4px;
    padding: 11px 12px 13px;
}

#container .info_wrap .user_info .email_warning img {
	margin-top: 3px;
    margin-right: 5px;
    height: 16px;
}

#container .info_wrap .user_info .email_warning p {
    font-size: 14px;
    color: rgb(255, 132, 0);
    margin: 0; 
}



/* 라벨 */
#container .info_wrap .user_info label {
    font-weight: 500;
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: var(--txt-color-600);
}

/* 수정 버튼 */
#container .info_wrap .info_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#container .info_wrap .info_title h3 {
	margin: 0;
}

#container .info_wrap .info_title .edit_btn_wrap {
	display: flex;	
	align-items: center;
	gap: 2px;
}

#container .info_wrap .info_title .edit_btn_wrap a {
    font-size: 16px;
    margin: 0;
    line-height: 1;
    color: var(--point-color2);
}

#container .info_wrap .info_title .edit_btn {
	height: 20px;
}




/* 버튼 */
.btn_wrap {
	padding-top: 24px;
	width: 100%;
}

.btn_outline {
	width: 100%;
}

.btn_primary_wide {
	margin-top: 32px;
}



/* 하단 정보 */
#container .buttom_info {
	padding: 24px;
	margin: 0px auto 32px;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* 하단 정보 (출처) */
#container .buttom_info .copy {
	font-size: 12px;
	font-weight: 300;
	color: var(--txt-color-400);
	letter-spacing: -0.02em;
}