@charset "UTF-8";

#container .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 80px 40px;
	margin: 0px auto;
	min-height: 100vh;
	max-width: 448px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
}

#container .content .verify_wrap {
	padding: 48px 40px;
	width: 448px;
	border: 1px solid var(--line-color2);
	border-radius: 4px;
}

#container .content .verify_wrap h2 {
	margin-bottom: 48px;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	letter-spacing: -1.2px;
	color: var(--txt-color-600);
}

#container .content .verify_wrap h3 {
	word-break: keep-all;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: -0.4px;
}

#container .content .verify_wrap h5 {
	margin-top: 16px;
	margin-bottom: 32px;
	color: #8E929F;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	font-weight: 300;
}



/* 폼 (비밀번호) */
#container .password_field label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .password_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .password_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .password_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 폼 (제출 버튼) */
#container .btn_primary_wide {
	margin: 32px 0px 0px;
}



/* 비밀번호 찾기 */
#container .content .verify_wrap .forgot_password {
	text-align: center;
	margin-top: 24px;
	display: block;
}

#container .content .verify_wrap .forgot_password a {
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	font-weight: 600;
	color: #8E929F;
	text-decoration: underline;
}



/* 폼 (알림) */
#container .alert {
	display: none;
	margin-top: 16px !important;
	padding: 11px 12px 13px;
	border-radius: 4px;
	color: rgb(244, 84, 82);
	background-color: rgb(254, 245, 245);
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.4px;
}

#container .alert img {
	margin-right: 8px;
	letter-spacing: -0.4px;
    width: 20px;
    height: 20px;
}



/* 하단 정보 */
#container .buttom_info {
	padding: 24px;
	margin: 0px auto 32px;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* 하단 정보 (출처) */
#container .buttom_info .copy {
	font-size: 12px;
	font-weight: 300;
	color: var(--txt-color-400);
	letter-spacing: -0.02em;
}
