@charset "UTF-8";


#container .content {
	margin: 0px auto;
	padding: 0 40px;
	width: 1160px;
}


/* 레시피 헤더 */
#container .content .recipe_header {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 40px 0;
}

#container .content .recipe_header h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
	margin-bottom: 34px;
}

#container .content .recipe_header .btn_block {
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: #FFF;
	border-radius: 8px;
	border: 1px solid rgb(26, 124, 255);
	padding: 12px 16px;
	font-size: 16px;
	line-height: 24px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.01), 0px 3px 10px rgba(0, 0, 0, 0.05), 0px 5px 20px rgba(0, 0, 0, 0.05);
	margin-bottom: 24px !important;
}

#container .content .recipe_header .btn_block span {
	line-height: 1.4;
	letter-spacing: -0.02em;
	font-size: 14px;
}

#container .content .recipe_header .btn_block span b {
	font-weight: 700;
	color: #1A7CFF;
}

#container .content .recipe_header .btn_block img {
	width: 24px;
	height: 24px;
}



#container .content .recipe_header .tab {
	flex-wrap: wrap;
	height: auto;
	margin: -2px;
	padding: 12px 0;
}

#container .content .recipe_header .tab a {
	margin: 4px;
}




/* 레시피 헤더(카테고리) */
#container .content .recipe_header .category_title {
	flex: 1 1 0%;
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
}

#container .content .recipe_header .category_title .category_type {
    width: 99px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    font-weight: 700;
    color: rgb(24, 26, 28);
    cursor: pointer;
}

#container .content .recipe_header .category_title .category_type img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

#container .content .recipe_header .category_title .category_type p {
	font-size: 14px;
	font-weight: 600;
}

#container .content .recipe_header .category_title .divider {
	background: rgba(0, 0, 0, 0.3);
	width: 1px;
	height: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#container .content .recipe_header .category_title .tab {
	margin-left: 10px;
	gap: 3px;
}

#container .content .recipe_header .category_title .tab .btn_tab {
	padding: 0 20px;
}

#container .content .recipe_header .category_content {
	height: 240px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    display: none;
}

#container .content .recipe_header .category_content.is-open {
	display: block;
}

#container .content .recipe_header .hidden {
	display: none !important;
}

#container .content .recipe_header .category_content .category_content_list {
	flex: 1 1 0%;
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
}

#container .content .recipe_header .category_content .category_content_list .category_type {
    width: 45px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    font-weight: 700;
    color: rgb(24, 26, 28);
    cursor: pointer;
}

#container .content .recipe_header .category_content .category_content_list .category_type img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

#container .content .recipe_header .category_content .category_content_list .category_type p {
	font-size: 14px;
	font-weight: 600;
}

#container .content .recipe_header .category_content .category_content_list .divider {
	background: rgba(0, 0, 0, 0.3);
	width: 1px;
	height: 10px;
	margin-left: 10px;
	margin-right: 12px;
}

#container .content .recipe_header .category_content .category_content_list ul {
	display: flex;
}

#container .content .recipe_header .category_content .category_content_list ul li {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	font-weight: 400;
	color: rgb(24, 26, 28);
	position: relative;
	display: flex;
	cursor: pointer;
	padding: 6px;
	margin-right: 8px;
	word-break: keep-all;
	white-space: nowrap;
}

#container .content .recipe_header .category_content .category_content_list ul li.active {
	color: var(--point-color2);
	font-weight: 700;
}





/* 레시피 목록 (정렬요소) */
#container .content .recipe_content {
	padding-bottom: 40px;	
}

#container .content .recipe_content .recipe_util {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -.2px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -8px;
	margin-bottom: 16px;
	color: var(--txt-color-500);
}

#container .content .sort_wrap {
	display: flex;
	gap: 30px;
	margin-left:auto
	
}


#container .content .sort_wrap .recipe_sort {
	display: flex;
	gap: 16px;
}






/* 레시피 목록 (레시피 이미지) */
#container .content .recipe_content .recipe_list {
	display: flex;
	flex-wrap: wrap;
	margin: -29px -16px;
}

#container .content .recipe_content .recipe_list .recipe {
	width: calc(25% - 32px);
	margin: 29px 16px;
	display: block;
}

#container .content .recipe_content .recipe_list .recipe .recipe_thumbnail {
	height: 258px;
	width: 258px;
	margin-bottom: 16px;
	border-radius: 4px;
}

#container .content .recipe_content .recipe_list .recipe .recipe_thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
}


/* 레시피 목록 (레시피 정보) */
#container .content .recipe_content .recipe_list .recipe .recipe_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 5px;
}

#container .content .recipe_content .recipe_list .recipe .recipe_info h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -.4px;
	overflow: hidden;
}

#container .content .recipe_content .recipe_list .recipe .recipe_info .recipe_details {
	display: flex;
	align-items: center;
	gap: 15px;
}

#container .content .recipe_content .recipe_list .recipe .recipe_info .recipe_details .details_item {
	display: flex;
	align-items: center;
	gap: 4px;
}

#container .content .recipe_content .recipe_list .recipe .recipe_info .recipe_details .details_item img {
	width: 16px;
	height: 16px;
}

#container .content .recipe_content .recipe_list .recipe .recipe_info .recipe_details .details_item p {
	color: var(--txt-color-500);
	font-size: 14px;
}

/* 레시피 목록 (별점) */
#container .content .recipe_content .recipe_list .recipe .recipe_info .recipe_score {
	display: flex;
}
#container .content .recipe_content .recipe_list .recipe .recipe_info .recipe_score p {
	color: var(--txt-color-500);
	font-size: 14px;
	margin-left: 7px;
	font-weight: 600;
}

#container .content .recipe_content .recipe_list .recipe .recipe_info .recipe_score .star {
	display: flex;
	align-items: center;
}
#container .content .recipe_content .recipe_list .recipe .recipe_info .recipe_score .star img {
	height: 14px;
	width: 14px;
}








/* 목록 없음 표시 */
#container .content .search_empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 70px;
}

#container .content .search_empty img {
	margin-top: 40px !important;
	width: 88px;
}

#container .content .search_empty h2 {
	text-align: center !important;
	padding-top: 16px !important;
	padding-bottom: 16px !important;
	font-weight: 900;
	line-height: 1.3;
	letter-spacing: -0.02em;
	font-size: 24px;
}

#container .content .search_empty span {
	text-align: center !important;
	margin-bottom: 32px !important;
	color: #7E8082;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.025em;
	font-size: 16px;
}