@charset "UTF-8";

/* 목록 */
#container .comment_wrap .comment_list .comment {
	width: 100%;
	height: 100%;
	padding: 24px 0;
	border-bottom: 1px solid var(--line-color1);
	background: #FFF;
}

#container .comment_wrap .comment_list .comment .comment_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#container .comment_wrap .comment_list .comment .comment_header .comment_writer {
	display: flex;
	gap: 8px;
	align-items: center;
}

#container .comment_wrap .comment_list .comment .comment_header .comment_writer img {
	border-radius: 50%;
	background: #ddd;
	width: 24px;
	height: 24px;
}

#container .comment_wrap .comment_list .comment .comment_header .comment_writer span {
	font-size: 14px;
	font-weight: 500;
}

#container .comment_wrap .comment_list .comment .comment_header .comment_writer span:last-child {
	font-size: 12px;
	font-weight: 300;
	color: var(--txt-color-500);
}

#container .comment_wrap .comment_list .comment .comment_header .comment_action {
	display: flex;
	gap: 8px;
	align-items: center;
}

#container .comment_wrap .comment_list .comment .comment_header .comment_action a {
	font-size: 14px;
	font-weight: 500;
	color: var(--txt-color-500);
}

#container .comment_wrap .comment_list .comment .comment_content {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;
}

#container .comment_wrap .comment_list .comment .write_subcomment_btn {
	margin-top: 16px;
}



/* 대댓글 */
#container .comment_wrap .subcomment_list .subcomment {
	width: 100%;
	height: 100%;
	padding: 24px 0;
	border-bottom: 1px solid var(--line-color1);
	background: #FFF;
	display: flex;
	justify-content: flex-start;
	gap: 10px;
}

#container .comment_wrap .subcomment_list .subcomment img {
	width: 20px;
	height: 20px;
}

#container .comment_wrap .subcomment_list .subcomment .subcomment_inner {
	width: 100%;
}

#container .comment_wrap .subcomment_list .subcomment .subcomment_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

#container .comment_wrap .subcomment_list .subcomment .subcomment_header .subcomment_writer {
	display: flex;
	gap: 8px;
	align-items: center;
}

#container .comment_wrap .subcomment_list .subcomment .subcomment_header .subcomment_writer img {
	border-radius: 50%;
	background: #ddd;
	width: 24px;
	height: 24px;
}

#container .comment_wrap .subcomment_list .subcomment .subcomment_header .subcomment_writer span {
	font-size: 14px;
	font-weight: 500;
}

#container .comment_wrap .subcomment_list .subcomment .subcomment_header .subcomment_writer span:last-child {
	font-size: 12px;
	font-weight: 300;
	color: var(--txt-color-500);
}

#container .comment_wrap .subcomment_list .subcomment .subcomment_header .subcomment_action {
	display: flex;
	gap: 8px;
	align-items: center;
}

#container .comment_wrap .subcomment_list .subcomment .subcomment_header .subcomment_action a {
	font-size: 14px;
	font-weight: 500;
	color: var(--txt-color-500);
}

#container .comment_wrap .subcomment_list .subcomment .subcomment_content {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;
}
