@charset "UTF-8";

#container .content {
	margin: 0px auto;
	padding: 0 108px;
	width: 1160px;
}



/* 레시피 헤더 */
#container .content .recipe_header {
	padding: 40px 0;
	position: relative;
	border-bottom: 2px solid var(--line-color1);
	
}

#container .content .recipe_header h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
	margin-bottom: 8px;
}

/* 레시피 헤더 (저장 버튼) */
#container .content .recipe_header .recipe_save_btn {
	position: absolute;
	top: 50px;
	right: 0;
	display: flex;
	align-items: center;
	gap: 8px;
	width: fit-content;
	margin-left: auto;
}

#container .content .recipe_header .recipe_save_btn button {
	padding: 0 12px;
	background: #FFF;
	height: 32px;
	box-sizing: border-box;
	display: inline-flex;
	position: relative;
	border-radius: 4px;
	border: 1px solid var(--line-color2);
    overflow: hidden;
	align-items: center;
    justify-content: center;
    font-size: 14px;
}

#container .content .recipe_header .recipe_save_btn button:hover {
	background: #F3F5F7;
}

#container .content .recipe_header .recipe_save_btn button img {
	margin-right: 2px;
	width: 20px;
	height: 20px;
}

/* 레시피 헤더 (레시피 정보) */
#container .content .recipe_header .recipe_info {
	display: flex;
	align-items: center;
	gap: 20px;
}

#container .content .recipe_header .recipe_info .recipe_info_item {
	display: flex;
	align-items: center;
	gap: 4px;
}

#container .content .recipe_header .recipe_info .recipe_info_item img {
	width: 20px;
	height: 20px;
}

#container .content .recipe_header .recipe_info .recipe_info_item p {
	color: var(--txt-color-500);
}

/* 레시피 헤더 (레시피 작성자) */
#container .content .recipe_header .recipe_writer {
	margin-top: 35px;
	display: flex;
	gap: 8px;
	align-items: center;
}

#container .content .recipe_header .recipe_writer img {
	border-radius: 50%;
	background: #ddd;
	width: 24px;
	height: 24px;
	margin-right: 4px;
}

#container .content .recipe_header .recipe_writer p {
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.02em;
	font-size: 14px;
}

#container .content .recipe_header .recipe_writer a {
	font-size: 12px;
	font-weight: 500;
	color: var(--point-color2);
}

/* 레시피 헤더 (소개) */
#container .content .recipe_header .recipe_introduce {
	margin-top: 8px;
	font-size: 14px;
	color: var(--txt-color-500);
	line-height: 1.4;
	letter-spacing: -0.02em;
}

/* 레시피 헤더 (카테고리) */
#container .content .recipe_header .recipe_category {
	margin-top: 8px;
	display: flex;
	align-items: center;
	gap: 2px;
}

#container .content .recipe_header .recipe_category span {
	border: 1px solid #DDD;
	padding: 4px 8px;
	border-radius: 4px;
	background: #F8F8F8;
	color: var(--txt-color-500);
	font-weight: 600;
	font-size: 12px;
}

/* 레시피 헤더 (버튼) */
#container .content .recipe_header .btn_wrap {
	display: flex;
	align-items: center;
	gap: 8px;
	width: fit-content;
	margin-left: auto;
}

#container .content .recipe_header .btn_wrap button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid var(--line-color2);
	background: #FFF;
}

#container .content .recipe_header .btn_wrap button:hover {
	background: #F3F5F7;
}

#container .content .recipe_header .btn_wrap button img {
	width: 60%;
}


















