@charset "UTF-8";

#container .content {
	margin: 0px auto;
	padding: 0 108px;
	width: 1160px;
}


/* 레시피 정보 */
#container .content .recipe_info_wrap {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 40px 0;
	border-bottom: 2px solid var(--line-color1);
}

#container .content .recipe_info_wrap h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
	margin-bottom: 40px;
}

/* 레시피 정보 (썸네일) */
#container .content .recipe_info_wrap .thumbnail_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .recipe_info_wrap .thumbnail_field input {
    height: 150px;
    border: 1px dashed #BBB;
    border-radius: 7px;
    cursor: pointer;
    background: url(/images/recipe/thumbnail.png) no-repeat center;
    background-size: 40px;
    text-indent: -9999px;
    overflow: hidden;
    
}

#container .content .recipe_info_wrap .thumbnail_field input.danger {
	border: 1px dashed #F45452;
	background-color: rgb(254, 245, 245);
}

#container .content .recipe_info_wrap .thumbnail_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}



/* 레시피 정보 (제목) */
#container .content .recipe_info_wrap .title_field {
	margin-top: 24px;
}

#container .content .recipe_info_wrap .title_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .recipe_info_wrap .title_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .content .recipe_info_wrap .title_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .content .recipe_info_wrap .title_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}



/* 레시피 정보 (소개) */
#container .content .recipe_info_wrap .introduce_field {
	margin-top: 24px;
}

#container .content .recipe_info_wrap .introduce_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .recipe_info_wrap .introduce_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .content .recipe_info_wrap .introduce_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .content .recipe_info_wrap .introduce_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}




/* 레시피 정보 (난이도) */
#container .content .recipe_info_wrap .level_field {
	margin-top: 24px;
}

#container .content .recipe_info_wrap .level_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .recipe_info_wrap .level_field .level_btn {
	border-radius: 4px;
	width: auto;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 12px 24px;
	height: 42px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	font-weight: 500;
	border: 1px solid var(--line-color2);
	color: var(--txt-color-600);
	background-color: #FFF;
}

#container .content .recipe_info_wrap .level_field .level_btn.active {
	border-radius: 4px;
	width: auto;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 12px 24px;
	height: 42px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	font-weight: 600;
	border: 1px solid var(--txt-color-600);
	color: #FFF;
	background-color: var(--txt-color-600);
}

#container .content .recipe_info_wrap .level_field .level_btn.danger {
	appearance: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .content .recipe_info_wrap .level_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

#container .content .recipe_info_wrap .level_field .notice {
	margin-top: 8px;
}

#container .content .recipe_info_wrap .level_field .notice p {
	display: block;
	font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.2px;
    background-position: 0px 10px;
    color: #8E929F;
}



/* 레시피 정보 (조리시간) */
#container .content .recipe_info_wrap .time_field {
	margin-top: 24px;
}

#container .content .recipe_info_wrap .time_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .recipe_info_wrap .time_field select {
	width: auto;
	padding: 0 45px 0 12px;
	height: 42px;
	border: 1px solid var(--line-color2);
	color: var(--txt-color-500);
	font-weight: 500;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	background: url(/images/recipe/arrow_down.png) no-repeat right 5px top 50%;
	background-size: 24px;
}

#container .content .recipe_info_wrap .time_field select.danger {
	appearance: none;
	border: 1px solid #F45452;
	background-color: rgb(254, 245, 245);
	background-image: url(/images/recipe/arrow_down.png) no-repeat right 5px top 50%;
}

#container .content .recipe_info_wrap .time_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}




/* 레시피 정보 (맵기 정도) */
#container .content .recipe_info_wrap .spicy_field {
	margin-top: 24px;
}

#container .content .recipe_info_wrap .spicy_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .recipe_info_wrap .spicy_field .spicy_btn {
	border-radius: 4px;
	width: auto;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 12px 24px;
	height: 42px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	font-weight: 500;
	border: 1px solid var(--line-color2);
	color: var(--txt-color-600);
	background-color: #FFF;
}

#container .content .recipe_info_wrap .spicy_field .spicy_btn.active {
	border-radius: 4px;
	width: auto;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 12px 24px;
	height: 42px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	font-weight: 600;
	border: 1px solid var(--txt-color-600);
	color: #FFF;
	background-color: var(--txt-color-600);
}

#container .content .recipe_info_wrap .spicy_field .spicy_btn.danger {
	appearance: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .content .recipe_info_wrap .spicy_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

#container .content .recipe_info_wrap .spicy_field .notice {
	margin-top: 8px;
}

#container .content .recipe_info_wrap .spicy_field .notice p {
	display: block;
	font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.2px;
    background-position: 0px 10px;
    color: #8E929F;
}



/* 레시피 정보 (분류) */
#container .content .recipe_info_wrap .category_field {
	margin-top: 24px;
}

#container .content .recipe_info_wrap .category_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
}

#container .content .recipe_info_wrap .category_field div + div {
	margin-top: 8px;
}

#container .content .recipe_info_wrap .category_field select {
	width: auto;
	padding: 0 45px 0 12px;
	height: 42px;
	border: 1px solid var(--line-color2);
	border-radius: 4px;
	cursor: pointer;
	color: var(--txt-color-500);
	font-weight: 500;
	position: relative;
	background: url(/images/recipe/arrow_down.png) no-repeat right 5px top 50%;
	background-size: 24px;
}

#container .content .recipe_info_wrap .category_field select.danger {
	appearance: none;
	border: 1px solid #F45452;
	background-color: rgb(254, 245, 245);
	background-image: url(/images/recipe/arrow_down.png) no-repeat right 5px top 50%;
}

#container .content .recipe_info_wrap .category_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 레시피 정보 (제목) */
#container .content .recipe_info_wrap .youtube_field {
	margin-top: 24px;
}

#container .content .recipe_info_wrap .youtube_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .recipe_info_wrap .youtube_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}



/* 재료 */
#container .content .ingredient_wrap {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 40px 0;
	border-bottom: 2px solid var(--line-color1);
}

#container .content .ingredient_wrap h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
	margin-bottom: 40px;
}



/* 재료 (조리 양) */
#container .content .ingredient_wrap .serving_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .ingredient_wrap .serving_field select {
	width: auto;
	padding: 0 45px 0 12px;
	height: 42px;
	border: 1px solid var(--line-color2);
	color: var(--txt-color-500);
	font-weight: 500;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	background: url(/images/recipe/arrow_down.png) no-repeat right 5px top 50%;
	background-size: 24px;
}

#container .content .ingredient_wrap .serving_field select.danger {
	appearance: none;
	border: 1px solid #F45452;
	background-color: rgb(254, 245, 245);
	background-image: url(/images/recipe/arrow_down.png) no-repeat right 5px top 50%;
}

#container .content .ingredient_wrap .serving_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}



/* 재료 (재료) */
#container .content .ingredient_wrap .ingredient_field {
	margin-top: 24px;
}

#container .content .ingredient_wrap .ingredient_field .ingredient_flex {
	display: flex;
	align-items: center;
	gap: 8px;
}

#container .content .ingredient_wrap .ingredient_field ul li + li {
	margin-top: 8px;
}



#container .content .ingredient_wrap .ingredient_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .ingredient_wrap .ingredient_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: auto;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .content .ingredient_wrap .ingredient_field input.danger {
	appearance: none;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .content .ingredient_wrap .ingredient_field img {
	width: 20px;
	height: 20px;
}

#container .content .ingredient_wrap .ingredient_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

#container .content .ingredient_wrap .ingredient_field .add_btn {
	margin-top: 8px;
}

#container .content .ingredient_wrap .ingredient_field .add_btn a {
	font-size: 12px;
	font-weight: 600;
	color: var(--point-color2);
}

#container .content .ingredient_wrap .ingredient_field .remove_btn {
	margin-top: 8px;

}

#container .content .ingredient_wrap .ingredient_field .remove_btn a {
	font-size: 12px;
	font-weight: 600;
	color: var(--point-color2);
	display: flex;
	align-items: center;
	gap: 2px;
	cursor: pointer;
}

#container .content .ingredient_wrap .ingredient_field .remove_btn img {
	width: 16px;
	height: 16px;
}








/* 조리 순서 */
#container .content .step_wrap {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 40px 0;
	border-bottom: 2px solid var(--line-color1);
}

#container .content .step_wrap h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
	margin-bottom: 40px;
}

#container .content .step_wrap li + li {
	margin-top: 24px;
}

#container .content .step_wrap .step_image_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .step_wrap .step_image_field input[type='file'] {
    width: 80px;
    height: 80px;
    border: 1px dashed #BBB;
    border-radius: 4px;
    cursor: pointer;
    background: url(/images/recipe/thumbnail.png) no-repeat center;
    background-size: 40px;
    text-indent: -9999px;
    overflow: hidden;
}

#container .content .step_wrap .step_field {
	margin-top: 8px;
	display: flex;
	align-items: center;
	gap: 10px;
}

#container .content .step_wrap .step_field input[type='text'] {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .content .step_wrap .step_field input[type='text'].danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .content .step_wrap p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

#container .content .step_wrap .add_btn {
	margin-top: 8px;
}

#container .content .step_wrap .add_btn a {
	font-size: 12px;
	font-weight: 600;
	color: var(--point-color2);
}

#container .content .step_wrap .step_field .remove_btn {
	margin-top: 8px;
	width: 55px;
}

#container .content .step_wrap .step_field .remove_btn a {
	font-size: 12px;
	font-weight: 600;
	color: var(--point-color2);
	display: flex;
	align-items: center;
	gap: 2px;
	white-space: no-wrap;
	cursor: pointer;
}

#container .content .step_wrap .step_field .remove_btn img {
	width: 16px;
	height: 16px;
}







/* 팁 */
#container .content .tip_wrap {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 40px 0;
}

#container .content .tip_wrap h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
	margin-bottom: 40px;
}


#container .content .tip_wrap .tip_field label {
	font-weight: 600;
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .content .tip_wrap .tip_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

/* 공지사항 */
#container .content .tip_wrap .notice_info {
	margin-top: 40px;
	padding: 18px;
	background: #F3F5F7;
	border-radius: 4px;
}

#container .content .tip_wrap .notice_info h5 {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.02em;
	margin-bottom: 8px;
}

#container .content .tip_wrap .notice_info p {
	font-size: 14px;
	color: var(--txt-color-500);
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;
}

/* 공지사항 동의 체크박스 */
#container .content .tip_wrap .accept_notice {
	margin-top: 24px;
}






/* 업로드 버튼 */
#container .content .btn_wrap {
	margin: 0 auto 80px;
}
















