@charset "UTF-8";

#container .content {
	margin: 0px auto;
	padding: 0 108px;
	width: 1160px;
}





/* 레시피 정보 */
#container .recipe_basic_wrap {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 40px 0;
}

#container .recipe_basic_wrap h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
	margin-bottom: 40px;
}

/* 레시피 정보 > 이미지 폼 */
#container .recipe_basic_wrap .form-image label {
	font-weight: 600;
	display: block;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
	position: relative;
}

#container .recipe_basic_wrap .form-image input {
    height: 150px;
    width: 150px;
    border: 1px dashed #BBB;
    border-radius: 7px;
    cursor: pointer;
    background: url(/images/recipe/thumbnail.png) no-repeat center;
    background-size: 40px;
    text-indent: -9999px;
    overflow: hidden;
}

#container .recipe_basic_wrap .form-image input:focus {
	border: 1px dashed var(--point-color2);
}

#container .recipe_basic_wrap .form-image input.danger {
	border: 1px dashed #F45452 !important;
	background: url(/images/recipe/add_photo_f45452.png) no-repeat center !important;
	background-color: rgb(254, 245, 245) !important;
    background-size: 40px !important;
}

#container .recipe_basic_wrap .form-image p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 레시피 정보 > 기본 폼 */
#container .recipe_basic_wrap .form-group:not(:first-child) {
	margin-top: 40px;
}

#container .recipe_basic_wrap .form-group label {
	display: flex;
	align-items: center;
	font-weight: 600;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
	gap: 5px;
}

#container .recipe_basic_wrap .form-group label img {
	width: 20px;
	height: 20px;
}

#container .recipe_basic_wrap .form-group input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .recipe_basic_wrap .form-group input:focus {
	border: 1px solid var(--point-color2);
}

#container .recipe_basic_wrap .form-group input.danger {
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .recipe_basic_wrap .form-group p {
	display: none;
	margin-top: 4px;
	margin-left: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 레시피 정보 > 라디오 폼 */
#container .recipe_basic_wrap .form-radio {
	display: flex;
	align-items: center;
	gap: 30px;
}

#container .recipe_basic_wrap .form-radio input[type='radio'] {
	display: none;
}

#container .recipe_basic_wrap .form-radio input[type='radio'] + label {
	margin: 0;
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
}

#container .recipe_basic_wrap .form-radio input[type='radio'] + label:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #ddd;
	vertical-align: middle;
	margin-right: 10px;
}

#container .recipe_basic_wrap .form-radio input[type='radio']:checked + label:after {
	content: '';
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-45%);
	margin-top: 1px;
	width: 10px;
	height: 10px;
	background: #333;
	border-radius: 50%;
}

/* 레시피 정보 > 셀렉트 폼 */
#container .recipe_basic_wrap .select-group {
	display: flex;
	gap: 10px;
}

#container .recipe_basic_wrap .form-select {
	height: 45px;
}

#container .recipe_basic_wrap .form-select.danger {
	appearance: none;
	border: 1px solid #F45452;
	background-color: rgb(254, 245, 245);
	background-image: url(/images/recipe/arrow_down.png) no-repeat right 5px top 50%;
}

#container .recipe_basic_wrap .form-select:focus {
    outline: none !important;
    box-shadow: none !important;
}

#container .recipe_basic_wrap .form-select:has(option:checked[value='']) {
	color: rgb(163, 163, 163);
}





/* 재료 */
#container .recipe_stock_wrap {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 40px 0;
}

#container .recipe_stock_wrap h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
}

/* 재료 > 기본 폼 */
#container .recipe_stock_wrap .form-group:not(:first-child) {
	margin-top: 40px;
}

#container .recipe_stock_wrap .form-group label {
	display: flex;
	align-items: center;
	font-weight: 600;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
	gap: 5px;
}

#container .recipe_stock_wrap .form-group label img {
	width: 20px;
	height: 20px;
}

#container .recipe_stock_wrap .form-group input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .recipe_stock_wrap .form-group input:focus {
	border: 1px solid var(--point-color2);
}

#container .recipe_stock_wrap .form-group input.danger {
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .recipe_stock_wrap .form-group p {
	display: none;
	margin-top: 4px;
	margin-left: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
	text-align: left;
}

/* 재료 > 셀렉트 폼 */
#container .recipe_stock_wrap .form-select {
	height: 45px;
	width: 228px;
}

#container .recipe_stock_wrap .form-select.danger {
	appearance: none;
	border: 1px solid #F45452;
	background-color: rgb(254, 245, 245);
	background-image: url(/images/recipe/arrow_down.png) no-repeat right 5px top 50%;
}

#container .recipe_stock_wrap .form-select:focus {
    outline: none !important;
    box-shadow: none !important;
}

#container .recipe_stock_wrap .form-select:has(option:checked[value='']) {
	color: rgb(163, 163, 163);
}

/* 재료 > 재료 목록 */
#container .recipe_stock_wrap .stock_field {
	text-align: center;
}

#container .recipe_stock_wrap .input_group {
	display: flex;
	align-items: center;
	gap: 8px;
}

#container .recipe_stock_wrap .input_group:not(:first-child) {
	margin-top: 18px;
}

/* 재료 > 재료 목록 > 버튼 */
#container .recipe_stock_wrap .btn-primary-outline {
	margin-top: 18px;
	display: inline-flex;
	align-items: center;
	height: 36px;
	padding: 0 12px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
    letter-spacing: -0.2px;
    background: none;
    border: 1px solid var(--point-color2);
    border-radius: 36px;
    color: var(--point-color2);
}

#container .recipe_stock_wrap .btn-primary-outline:hover {
	background: none;
	color: var(--point-color2);
}

#container .recipe_stock_wrap .remove_btn {
	margin-top: 8px;

}


#container .recipe_stock_wrap .input_group .remove_stock_btn {
	border: none;
	background: none;
	margin-top: 8px;
	width: 165px;
	font-size: 12px;
	font-weight: 600;
	color: var(--point-color2);
	display: flex;
	align-items: center;
	gap: 2px;
	white-space: no-wrap;
	cursor: pointer;
}

#container .recipe_stock_wrap .input_group .remove_stock_btn img {
	width: 16px;
	height: 16px;
}





/* 조리 순서 */
#container .recipe_step_wrap {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 40px 0;
}

#container .recipe_step_wrap h2 {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
	margin-bottom: 40px;
}

/* 조리 순서 > 텍스트 폼 */
#container .recipe_step_wrap .step_field {
	text-align: center;
}

#container .recipe_step_wrap .form-group li {
	position: relative;
}

#container .recipe_step_wrap .form-group li:not(:first-child) {
	margin-top: 40px;
}

#container .recipe_step_wrap .form-group h5 {
	display: flex;
	align-items: center;
	font-weight: 600;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
	gap: 5px;
}

#container .recipe_step_wrap .form-group .form-textarea {
	appearance: none;
	padding: 17px 13px 13px 13px;
	width: 100%;
	height: 150px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
	text-align: left;
}

#container .recipe_step_wrap .form-group .form-textarea.danger {
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .recipe_step_wrap .form-group .form-textarea textarea {
	width: 100%;
	height: 70px;
	margin-bottom: 10px;
}


#container .recipe_step_wrap .form-group .form-textarea input[type='file']::file-selector-button {
	margin-right: 10px;
	border: 1px solid var(--line-color3);
	background: #f8f8f8;
	border-radius: 4px;
	padding: 5px 10px;
}

#container .recipe_step_wrap .form-group p {
	display: none;
	margin-top: 4px;
	margin-left: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
	text-align: left;
}

/* 조리 순서 > 버튼 */
#container .recipe_step_wrap .btn-primary-outline {
	margin-top: 18px;
	display: inline-flex;
	align-items: center;
	height: 36px;
	padding: 0 12px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
    letter-spacing: -0.2px;
    background: none;
    border: 1px solid var(--point-color2);
    border-radius: 36px;
    color: var(--point-color2);
}

#container .recipe_step_wrap .btn-primary-outline:hover {
	background: none;
	color: var(--point-color2);
}

#container .recipe_step_wrap .remove_step_btn {
	position: absolute;
	bottom: 15px;
	right: 18px;
	border: none;
	background: none;
	margin-top: 8px;
	font-size: 12px;
	font-weight: 600;
	color: var(--point-color2);
	display: flex;
	align-items: center;
	gap: 2px;
	white-space: no-wrap;
	cursor: pointer;
}

#container .recipe_step_wrap .remove_step_btn img {
	width: 16px;
	height: 16px;
}





/* 공지사항 */
#container .recipe_notice_wrap {
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	box-sizing: border-box;
	padding: 0 0 40px 0;
}

#container .recipe_notice_wrap .notice {
	margin-top: 40px;
	padding: 18px;
	background: #F3F5F7;
	border-radius: 4px;
}

#container .recipe_notice_wrap .notice h5 {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.02em;
	margin-bottom: 8px;
}

#container .recipe_notice_wrap .notice p {
	font-size: 14px;
	color: var(--txt-color-500);
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;
}

/* 공지사항 > 동의 체크박스 */
#container .recipe_notice_wrap .accept_notice {
	margin-top: 24px;
}





/* 업로드 버튼 */
#container .content .btn_wrap {
	margin: 0 auto 80px;
}

