@charset "UTF-8";

#container .content {
	margin: 0px auto;
	padding: 0 108px;
	width: 1160px;
}




/* 가이드 */
#container .content .guide_wrap {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 40px;
	margin-bottom: 80px;
}

/* 가이드 (제목) */
#container .content .guide_wrap .title span {
	color: var(--txt-color-500);
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;
	font-size: 14px;
}

#container .content .guide_wrap .title h2 {
	margin-top: 8px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
}

#container .content .guide_wrap .title .guide_writer {
	margin-top: 8px;
	display: flex;
	gap: 4px;
	align-items: center;
}

#container .content .guide_wrap .title .guide_writer .image {
	border-radius: 50%;
	background: #ddd;
	width: 24px;
	height: 24px;
	margin-right: 4px;
}

#container .content .guide_wrap .title .guide_writer .image img {
	object-fit: cover;
	object-position: center top;
	width: 100%;
	height: 100%;
}

#container .content .guide_wrap .title .guide_writer span {
	color: var(--txt-color-500);
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;
	font-size: 14px;
}



/* 가이드 (버튼) */
#container .content .guide_wrap .btn_wrap {
	display: flex;
	align-items: center;
	gap: 8px;
	width: fit-content;
	margin-left: auto;
}

#container .content .guide_wrap .btn_wrap button {
	padding: 0 12px;
	background: #FFF;
	height: 32px;
	box-sizing: border-box;
	display: inline-flex;
	position: relative;
	border-radius: 4px;
	border: 1px solid var(--line-color1);
    overflow: hidden;
	align-items: center;
    justify-content: center;
}

#container .content .guide_wrap .btn_wrap button img {
	margin-right: 2px;
	width: 20px;
	height: 20px;
}

/* 가이드 (내용) */
#container .content .guide_wrap .guide_content {
	line-height: 28px;
	word-break: break-word;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: -0.025em;
}


/* 목록 버튼 */
#container .content .guide_wrap .list_btn {
	text-align: center;
}

#container .content .guide_wrap .list_btn button {
	padding: 0 30px;
	background: #FFF;
	height: 48px;
	border-radius: 4px;
	border: 1px solid var(--line-color1);
    overflow: hidden;
	align-items: center;
    justify-content: center;
    width: fit-content;
}



/* 댓글 */
#container .comment_wrap {
	margin-top: 48px;
}

/* 댓글 (댓글 헤더) */
#container .comment_wrap .comment_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

/* 댓글 (댓글 헤더 - 댓글 수) */
#container .comment_wrap .comment_header .comment_count {
	display: flex;
	align-items: center;
}

#container .comment_wrap .comment_header .comment_count span {
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.025em;
	font-size: 16px;
}

#container .comment_wrap .comment_header .comment_count span + span {
	color: var(--txt-color-500);
	font-size: 12px;
	margin-left: 8px;
}

/* 댓글 (댓글 헤더 - 정렬 순서) */
#container .comment_wrap .comment_header .comment_order {
	display: flex;
	gap: 16px;
}

#container .comment_wrap .comment_header .comment_order button {
	color: var(--txt-color-500);
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;
	font-size: 14px;
	border: none;
	background: none;
}

#container .comment_wrap .comment_header .comment_order button.active {
	color: var(--txt-color-600);
	font-weight: 700;
	line-height: 1.4;
}











