@charset "UTF-8";



/* 타이틀 */
.title {
	text-align: center;
	margin-bottom: 40px;
}

.title h5 {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.4px;
}

.title h2 {
	font-size: 32px;
	font-weight: 600;
	line-height: 48px;
	letter-spacing: -1.2px;
}