@charset "UTF-8";





/* 메인배너 */
#container .main_banner {
	position: relative;
	margin: 0 auto !important;
	width: 100%;
	overflow: hidden;
	background: linear-gradient(rgb(210, 233, 252), rgb(244, 248, 254));
	height: 330px;
	padding-top: 20px;
}

#container .main_banner .banner_inner {
	position: relative;
	margin: 0px auto;
	max-width: 1100px;
	height: 330px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	padding-top: 60px;
}

#container .main_banner .banner_inner img:nth-of-type(1) {
	position: absolute;
	bottom: 0;
	left: 0;
}

#container .main_banner .banner_inner img:nth-of-type(2) {
	position: absolute;
	bottom: 0;
	right: -50px;
	width: 320px;
}

#container .main_banner .banner_inner .title {
	display: flex;
	flex-direction: column;
	align-items: center; 
	text-align: center;
}

#container .main_banner .banner_inner h3 {
	font-size: 40px;
	font-weight: 600;
	letter-spacing: -0.5px;
}

#container .main_banner .banner_inner .roulette {
	font-size: 70px;
	color: var(--point-color2);
	vertical-align: middle;
	transform: translateY(-3px);
	display: inline-block;
}

#container .main_banner .banner_inner .roulette_link {
	margin-top: 15px;
	font-size: 16px;
	letter-spacing: 0;
	opacity: 0;
	transition: opacity 0.4s ease;
	visibility: hidden;
}

#container .main_banner .banner_inner .roulette_link.show {
	opacity: 1;
	visibility: visible;
}





/* 레시피 카테고리 */
#container .category_menu {
	margin: 0px auto;
	padding: 50px 108px 0 108px;
	width: 1160px;
}


#container .category_menu h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 12px;
}

/* 레시피 카테고리 > 카테고리 목록 */
#container .category_menu .category_list {
	display: flex;
	flex-wrap: wrap;
	gap: 36px 38px;
	align-items: center;
	margin-top: 36px;
	padding-bottom: 50px;
	border-bottom: 2px solid var(--line-color2);
}

#container .category_menu .category_list .image {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-bottom: 8px;
	cursor: pointer;
}

#container .category_menu .category_list p {
	font-size: 14px;
	text-align: center;
}





/* 레시피 랭킹 */
#container .recipe_ranking {
	margin: 0px auto;
	padding: 40px 108px 0 108px;
	width: 1160px;
	position: relative;
}

/* 랭킹 헤더 (레시피와 키친가이드 공통) */
#container .ranking_header {
	position: relative;
	padding-bottom: 30px;
}

#container .ranking_header h2 {
	font-size: 24px;
	font-weight: 700;
	color: var(--txt-color-600);
}

#container .ranking_header span {
	font-size: 14px;
	font-weight: 300;
	color: var(--txt-color-500);
}

#container .ranking_header .btn_sort {
	display: flex;
	font-size: 14px;
	font-weight: 300;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
}

#container .ranking_header .btn_sort .btn_img { 
	width: 18px; 
	height:18px;
	background:var(--txt-color-500);
	-webkit-mask-box-image:url('/images/mypage/arrow_right.png');
	mask-image: url('/images/mypage/arrow_right.png');
	background-position:center;
	background-size:cover;
	position:relative; 
}

/* 키친가이드 랭킹 > 랭킹 리스트 */
#container .recipe_ranking .recipe_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 50px;
	border-bottom: 2px solid var(--line-color2);
	cursor: pointer;
}

#container .recipe_ranking .recipe_list .recipe {
	width: calc(20% - 15px);
	display: block;
}

/* 키친가이드 랭킹 > 랭킹 리스트 > 이미지 */
#container .recipe_ranking .recipe_list .recipe .recipe_image {
	width: 170px;
	height: 170px;
	margin-bottom: 16px;
	border-radius: 8px;
	border: 1px solid #ddd;
}

#container .recipe_ranking .recipe_list .recipe .recipe_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}


/* 키친가이드 랭킹 > 랭킹 리스트 > 레시피 정보 */
#container .recipe_ranking .recipe_list .recipe .recipe_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 5px;
}

#container .recipe_ranking .recipe_list .recipe .recipe_info h5 {
	font-size: 18px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -.4px;
	overflow: hidden;
}

/* 키친가이드 랭킹 > 랭킹 리스트 > 레시피 정보 > 상세 정보 */
#container .recipe_ranking .recipe_list .recipe .recipe_info .recipe_detail {
	display: flex;
	align-items: center;
	gap: 10px;
}

#container .recipe_ranking .recipe_list .recipe .recipe_info .recipe_detail .detail_item {
	display: flex;
	align-items: center;
	gap: 5px;
}

#container .recipe_ranking .recipe_list .recipe .recipe_info .recipe_detail .detail_item img {
	width: 14px;
	height: 14px;
}

#container .recipe_ranking .recipe_list .recipe .recipe_info .recipe_detail .detail_item p {
	color: var(--txt-color-500);
	font-size: 14px;
}

/* 키친가이드 랭킹 > 랭킹 리스트 > 레시피 정보 > 별점 */
#container .recipe_ranking .recipe_list .recipe .recipe_info .recipe_score {
	display: flex;
}

#container .recipe_ranking .recipe_list .recipe .recipe_info .recipe_score p {
	color: var(--txt-color-500);
	font-size: 14px;
	margin-left: 7px;
	font-weight: 600;
}

#container .recipe_ranking .recipe_list .recipe .recipe_info .recipe_score .star {
	display: flex;
	align-items: center;
}
#container .recipe_ranking .recipe_list .recipe .recipe_info .recipe_score .star img {
	height: 14px;
	width: 14px;
}





/* 키친가이드 랭킹 */
#container .guide_ranking {
	margin: 0px auto;
	padding: 40px 108px 80px 108px;
	width: 1160px;
	position: relative;
}

/* 키친가이드 랭킹 > 랭킹 목록 */
#container .guide_list_wrap {
	padding: 14px;
	width: 100%;
	height: auto;  
	background: #F4F8FE;
	border-radius: 4px;
}

#container .guide_list_wrap .guide_list {
	display: flex;
	flex-wrap: wrap;  
	padding: 0;  
	margin: 0;  
	gap: 13px; 
	list-style: none;
	cursor: pointer;
}

#container .guide_list_wrap .guide_list li {
	width: calc(50% - 6.5px);  
	padding: 0;
}

#container .guide_list_wrap .guide_list li .guide {
	padding: 15px;
	display: flex;
	background: #fff;
	border: 1px solid var(--line-color2);
	border-radius: 4px;
	width: 100%;  
	height: 50px;
	align-items: center;
	gap: 10px;
}

#container .guide_list_wrap .guide_list li .guide span {
	font-weight: 700;
}