@charset "UTF-8";

#container .main_banner {
    position: relative;
	margin: 0 auto !important;
	width: 100%;
	overflow: hidden;
    background: linear-gradient(rgb(210, 233, 252), rgb(244, 248, 254));
    height: 330px;
    padding-top: 20px;
}

#container .main_banner .banner_inner {
	position: relative;
	margin: 0px auto;
	max-width: 1100px;
	height: 330px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	padding-top: 60px;
}

#container .main_banner .banner_inner img:nth-of-type(1) {
	position: absolute;
	bottom: 0;
	left: 0;
}

#container .main_banner .banner_inner img:nth-of-type(2) {
	position: absolute;
	bottom: 0;
	right: -50px;
	width: 320px;
}

#container .main_banner .banner_inner .title {
	display: flex;
	flex-direction: column;
	align-items: center; 
	text-align: center;
}

#container .main_banner .banner_inner h3 {
	font-size: 40px;
	font-weight: 600;
	letter-spacing: -0.5px;
}

#container .main_banner .banner_inner .roulette {
	font-size: 70px;
	color: var(--point-color2);
	vertical-align: middle;
	transform: translateY(-3px);
	display: inline-block;
}

#container .main_banner .banner_inner .roulette_link {
	margin-top: 15px;
	font-size: 16px;
	letter-spacing: 0;
	opacity: 0;
	transition: opacity 0.4s ease;
	visibility: hidden;
}

#container .main_banner .banner_inner .roulette_link.show {
	opacity: 1;
	visibility: visible;
}



/* 카테고리 메뉴 */
#container .category_menu {
	margin: 0px auto;
	padding: 0 108px;
	width: 1160px;
}

/* 카테고리 메뉴 (종류별) */
#container .category_menu .type {
	margin-top: 36px;
}

#container .category_menu .type h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 12px;
}

#container .category_menu .type .category_list {
	display: flex;
	gap: 0 38px;
	align-items: center;
}

#container .category_menu .type .category_list .image {
	width: 60px;
	height: 60px;
	border-radius: 16px;
	background: #ddd;
	margin-bottom: 8px;
}

#container .category_menu .type .category_list p {
	font-size: 14px;
	text-align: center;
}

/* 카테고리 메뉴 (상황별) */
#container .category_menu .case {
	margin-top: 36px;
	padding-bottom: 36px;
	border-bottom: 2px solid var(--line-color2);
}

#container .category_menu .case h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 12px;
}

#container .category_menu .case .category_list {
	display: flex;
	gap: 0 38px;
	align-items: center;
}

#container .category_menu .case .category_list .image {
	width: 60px;
	height: 60px;
	border-radius: 16px;
	background: #ddd;
	margin-bottom: 8px;
}

#container .category_menu .case .category_list p {
	font-size: 14px;
	text-align: center;
}


/* 레시피 랭킹 */
#container .recipe_ranking {
	margin: 0px auto;
	padding: 36px 108px;
	width: 1160px;
	height: 385px;
	position: relative;
}


#container .recipe_ranking::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 108px; 
    width: calc(100% - 216px); 
    border-bottom: 2px solid var(--line-color2);
}

/* 랭킹 헤더 */
#container .recipe_ranking .ranking_header {
	padding: 36px;
    background: #FF9078;
    width: 944px;
    height: 150px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
}

#container .recipe_ranking .ranking_header span {
	font-size: 14px;
	color: #fff;
	font-weight: 300;
}

#container .recipe_ranking .ranking_header h2 {
	font-size: 24px;
	color: #fff;
	font-weight: 700;
}

#container .recipe_ranking .ranking_header .btn_sort {
	color: #fff;
	display: flex;
	font-size: 14px;
	font-weight: 300;
	padding-top: 20px;
}

#container .recipe_ranking .ranking_header .btn_sort .btn_img { 
    width: 20px; 
    height:20px;
    background:#fff; 
	-webkit-mask-box-image:url('/images/common/arrow_down.png');
	mask-image: url('/images/common/arrow_down.png');
	background-position:center;  background-size:cover;  position:relative; 
}


.dropdown_menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    list-style: none;
    margin-top: 5px;
    width: 150px;
    z-index: 999;
}

.dropdown_menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown_menu li:hover {
    background: #f0f0f0;
}

.dropdown.active .dropdown_menu {
    display: block;
}


/* 랭킹 리스트 */
#container .recipe_ranking .recipe_list {
    display: flex;
    gap: 12px;
    padding: 0 34px;
    position: absolute;
	bottom: 25px;
}

#container .recipe_ranking .recipe_list .recipe_card {
    width: 136px;
    text-align: left;
}

#container .recipe_ranking .recipe_list .recipe_card p {
	font-size: 14px;
	margin: 0;
    text-align: left;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    line-height: 1.3;
}

#container .recipe_ranking .recipe_list .recipe_card span {
	font-size: 12px;
	color: var(--txt-color-400);
}

#container .recipe_ranking .recipe_list .image {
	background: #ddd;
    width: 100%;
    height: 136px;
    margin-bottom: 8px;
}




/* 키친 가이드 랭킹 */
#container .guide_ranking {
	margin: 0px auto;
	padding: 36px 108px;
	width: 1160px;
	position: relative;
}

/* 키친 가이드 헤더 */
#container .guide_ranking .ranking_header {
	position: relative;
	padding-bottom: 30px;
}

#container .guide_ranking .ranking_header h2 {
	font-size: 24px;
	font-weight: 700;
	color: var(--txt-color-600);
}

#container .guide_ranking .ranking_header span {
	font-size: 14px;
	font-weight: 300;
	color: var(--txt-color-500);
}

#container .guide_ranking .ranking_header .btn_sort {
	display: flex;
	font-size: 14px;
	font-weight: 300;
	align-items: center;
	
	position: absolute;
	right: 0;
	top: 0;
}

#container .guide_ranking .ranking_header .btn_sort .btn_img { 
    width: 20px; 
    height:20px;
    background:var(--txt-color-500); 
	-webkit-mask-box-image:url('/images/mypage/arrow_right.png');
	mask-image: url('/images/mypage/arrow_right.png');
	background-position:center;  background-size:cover;  position:relative; 
}


/* 키친가이드 랭킹 리스트 */
#container .guide_ranking .guide_list {
    display: flex;
    gap: 25px;
}

#container .guide_ranking .guide_list .guide_card {
    width: 136px;
    text-align: left;
}

#container .guide_ranking .guide_list .guide_card p {
	font-size: 14px;
	margin: 0;
    text-align: left;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    line-height: 1.3;
}

#container .guide_ranking .guide_list .guide_card span {
	font-size: 12px;
	color: var(--point-color2);
}

#container .guide_ranking .guide_list .image {
	background: #ddd;
    width: 100%;
    height: 136px;
    margin-bottom: 8px;
}

