@charset "UTF-8";


/* 카테고리 메뉴 */
#container .category_menu {
	margin: 0px auto;
	padding: 0 108px;
	width: 1160px;
}

/* 카테고리 메뉴 (종류별) */
#container .category_menu .type {
	margin-top: 36px;
}

#container .category_menu .type h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 12px;
}

#container .category_menu .type .category_list {
	display: flex;
	gap: 0 38px;
	align-items: center;
}

#container .category_menu .type .category_list .image {
	width: 60px;
	height: 60px;
	border-radius: 16px;
	background: #ddd;
	margin-bottom: 8px;
}

#container .category_menu .type .category_list p {
	font-size: 14px;
	text-align: center;
}

/* 카테고리 메뉴 (상황별) */
#container .category_menu .case {
	margin-top: 36px;
	padding-bottom: 36px;
	border-bottom: 2px solid var(--line-color2);
}

#container .category_menu .case h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 12px;
}

#container .category_menu .case .category_list {
	display: flex;
	gap: 0 38px;
	align-items: center;
}

#container .category_menu .case .category_list .image {
	width: 60px;
	height: 60px;
	border-radius: 16px;
	background: #ddd;
	margin-bottom: 8px;
}

#container .category_menu .case .category_list p {
	font-size: 14px;
	text-align: center;
}







