@charset "UTF-8";

#container .content {
	margin: 0px auto;
	padding: 0 108px;
	width: 1160px;
}

#container .content .apply_wrap {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 40px;
	margin-bottom: 80px;
}



/* 지원서 헤더 */
#container .content .apply_wrap .apply_header a {
	padding: 8px 0px;
	color: var(--txt-color-500);
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.02em;
	font-size: 14px;
}

#container .content .apply_wrap .apply_header a span {
	display: flex;
	align-items: center;
	gap: 4px;
	
}

#container .content .apply_wrap .apply_header a span img {
	width: 20px;
	height: 20px;
}

#container .content .apply_wrap .apply_header h2 {
	margin-top: 8px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
}



/* 지원서 유틸 */
#container .content .apply_wrap .apply_util {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.2px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--txt-color-500);
}

#container .content .apply_wrap .apply_util .apply_sort {
	display: flex;
	gap: 16px;
}



/* 지원서 목록 */
/*
#container .content .apply_list {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

#container .content .apply_list li {
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #FFF;
	display: flex;
	justify-content: flex-start;
	padding: 24px;
	border-radius: 4px;
	border: 1px solid var(--line-color2);
}

#container .content .apply_list table tr {
	height: 30px;
	font-size: 14px;
}

#container .content .apply_list table th {
	font-weight: 400;
	
}

#container .content .apply_list table td {
	color: var(--txt-color-500);
}

#container .content .apply_list .attend_btn {
	display: flex;
}

#container .content .apply_list .attend_btn button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 70px;
	height: 30px;
	border: 1px solid var(--line-color2);
	border-radius: 4px 0 0 4px;
	background: #FFF;
	color: #666;
	font-size: 14px;
}

#container .content .apply_list .attend_btn button:last-child {
	border-radius: 0 4px 4px 0;
	border-left: none;
}

#container .content .apply_list .attend_btn button.active {
	background: var(--point-color2);
	color: #FFF;
	font-weight: 500;
}
*/

















/* 신청서 표 */
#container .apply_wrap .apply_list thead th {
	text-align: center;
	background: #F9F9F9;
	padding: 16px;
	height: 50px;
	border-bottom: 1px solid var(--line-color2);
	font-size: 16px;
}

#container .apply_wrap .apply_list tbody tr {
	text-align: center;
	height: 50px;
	border-bottom: 1px solid var(--line-color2);
	font-size: 14px;
}

#container .apply_wrap .apply_list tbody tr td {
	padding: 16px;
}







#container .apply_wrap .apply_list .dropdown {
	position: relative;
	display: inline-block !important;
}

#container .apply_wrap .apply_list .dropdown .btn_toggle {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	
	border: none;
	justify-content: center;
	text-align: center;	
	width: fit-content;
	height: 32px;
	padding: 5px 12px 7px;
	border-radius: 4px;
	background: #EEE;
	font-size: 14px;
	color: #666;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.4px;
}

#container .apply_wrap .apply_list .dropdown .btn_toggle:after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: '';
	border-top: 6px solid;
	border-right: 4.5px solid transparent;
	border-bottom: 0;
	border-left: 4.5px solid transparent;
}

#container .apply_wrap .apply_list .dropdown .btn_toggle.primary {
	background-color: #DFE7FF !important;
	color: rgba(93, 135, 255);
}

#container .apply_wrap .apply_list .dropdown .btn_toggle.warning {
	background-color: #FFEFD2 !important;
	color: #FFAE1F;
}

#container .apply_wrap .apply_list .dropdown .btn_toggle.danger {
	background-color: #FEE7E1 !important;
	color: #FA896B;
}

#container .apply_wrap .apply_list .dropdown ul {
	border: none;
	box-shadow: 0 2px 4px rgba(90, 106, 133, 0.075) !important;
}

#container .apply_wrap .apply_list .dropdown ul li button {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	padding: 10px 16px;
	color: #5A6A85;
}

#container .apply_wrap .apply_list .dropdown ul li button:active {
	background: none;
}




