@charset "UTF-8";


#container .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 80px 40px;
	margin: 0px auto;
/* 	min-height: 100vh; */
	max-width: 448px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
}

#container .content .follower_wrap {
	padding: 48px 40px;
	width: 448px;
}




/* 타이틀 (링크) */
#container .content .follower_wrap .follower_title a {
	padding: 8px 0px;
	color: var(--txt-color-500);
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.02em;
	font-size: 14px;
}

#container .content .follower_wrap .follower_title a span {
	display: flex;
	align-items: center;
	gap: 4px;
}
#container .content .follower_wrap .follower_title a span img {
	width: 20px;
	height: 20px;
}

/* 타이틀 (제목) */
#container .content .follower_wrap .follower_title h2 {
	margin-top: 8px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
	margin-bottom: 24px;
}



/* 팔로워 수 */
#container .content .follower_wrap .follower_count span {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.025em;
	font-size: 12px;
	color: var(--txt-color-500);
}


/* 팔로워 목록 */
#container .content .follower_wrap .follower_list li {
	border-bottom: 1px solid var(--line-color3);
}
#container .content .follower_wrap .follower_list .follower_box {
	height: 90px;
	display: flex;
	gap: 10px;
	align-items: center;
}


/* 팔로워 이미지 */
#container .content .follower_wrap .follower_list .follower_box img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
#container .content .follower_wrap .follower_list .follower_box .follower_img {
	display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    flex-shrink: 0;
}


/* 팔로워 정보 */
#container .content .follower_wrap .follower_list .follower_box .follower_info {
	display: flex;
	flex-direction: column;
}
#container .content .follower_wrap .follower_list .follower_box .follower_info span {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.5;
}
#container .content .follower_wrap .follower_list .follower_box .follower_info p {
	font-size: 12px;
	font-weight: 500;
	color: var(--txt-color-500);
	line-height: 1.5;
	max-width: 246px;
	
	/* 말줄임 */
    overflow: hidden;       
    white-space: nowrap;     
    text-overflow: ellipsis; 
    flex-grow: 1;
}


/* 팔로잉 버튼 */
.btn_outline_small {
	background: #fff;
	margin-left: auto;
}
/* 팔로우 버튼 */
.btn_primary {
	display: flex;
	gap: 2px;
	width: fit-content;
	height: 32px;
	padding: 5px 12px 7px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	margin-left: auto;
}
