@charset "UTF-8";

#container .content {
	margin: 0px auto;
	padding: 0 40px;
	width: 1160px;
}





/* 사용자 정보 */
#container .content .user_wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-top: 40px;
	margin-bottom: 80px;
}

#container .user_wrap .user {
	padding: 48px 40px 0;
	width: 448px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0px auto;
	max-width: 448px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
}

/* 사용자 정보 > 이미지 필드 */
#container .user_wrap .user .image_field {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#container .user_wrap .user .image_field .user_avatar {
	font-size: 16px;
	font-weight: 600;	
	display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #ddd;
    flex-shrink: 0;
    background-size: cover;  
    background-position: center;
}


/* 사용자 정보 > 이미지 목록 폼 */
#container .user_wrap .user .image_list {
	display: none;
}

/* 사용자 정보 > 닉네임 필드 */
#container .user_wrap .user .nickname_field {
	width: 100%;
	margin: 16px 0;
	padding: 16px 0;
	border-bottom: 1px solid var(--line-color2);
}

#container .user_wrap .user .nickname_field .nickname_title {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

#container .user_wrap .user .nickname_field .nickname_content {
	display: flex;
	gap: 10px;
	align-items: center;
}

/* 사용자 정보 > 닉네임 필드 > 팔로워 */
#container .user_wrap .user .nickname_field .nickname_content button {
	position: relative;
	color: var(--point-color1);
	font-size: 12px;
	border: none;
	background: none;
	padding-top: 3px;
}

#container .user_wrap .user .nickname_field .nickname_content button:first-of-type::after {
	content: '';
    position: absolute;
    top: 50%;
    right: -6px;
    width: 2px;
    height: 2px;
    background-color: var(--point-color1);
    border-radius: 50%; 
    transform: translateY(-50%);
}

/* 사용자 정보 > 닉네임 수정 폼 */
#container .user_wrap .user .nickname_field .nickname_form {
	margin-top: 5px;
	display: none;
}

#container .user_wrap .user .nickname_field .nickname_warning {
	margin-top: 5px;
	font-size: 12px;
	color: var(--txt-color-500);
}


/* 사용자 정보 > 소개 필드 */
#container .user_wrap .user .introduce_field {
	width: 100%;
	margin: 0 0 16px 0;
	padding: 16px 0;
	border-bottom: 1px solid var(--line-color2);
}

#container .user_wrap .user .introduce_field .introduce_title {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

/* 사용자 정보 > 소개 수정 폼 */
#container .user_wrap .user .introduce_field .introduce_form {
	display: none;
}

/* 사용자 정보 > 포인트 필드 */
#container .user_wrap .user .point_field {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 50px;
	padding: 10px 20px;
	background: #f2f2f2;
	align-items: center;
	border-radius: 4px; 
}

#container .user_wrap .user .point_field span {
	font-size: 14px;
	font-weight: 700;
}

#container .user_wrap .user .point_field .btn_primary {
	width: 50px;
	height: 32px;
	font-size: 14px;
	padding: 0;
}




/* 공통 > 수정버튼 */
#container .user_wrap .user .edit_btn {
	display: flex;	
	align-items: center;
	gap: 2px;
	background: none;
	border: none;
}
#container .user_wrap .user .edit_btn img {
	height: 20px;
}
#container .user_wrap .user .edit_btn p {
    font-size: 16px;
    margin: 0;
    line-height: 1;
    color: var(--point-color2);
}

/* 공통 > 라벨 */
#container .user_wrap .user label {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: var(--txt-color-600);
   	font-weight: 600;
}

/* 공통 > 수정 필드  */
#container .user_wrap .user .edit_input input {
	border: 1px solid var(--line-color1);
	border-radius: 4px;
	width: 100%;
	height: 50px;
}

#container .user_wrap .user .edit_input input::placeholder {
    font-size: 16px;
}

/* 공통 > 제출 버튼 */
#container .user_wrap .user button[type='submit'] {
	margin-top: 16px;
}







/* 내 정보 관리 */
#container .content  .menu_wrap h2 {
	margin-top: 8px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
	margin-bottom: 24px;
}

#container .content  .menu_wrap label {
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: var(--txt-color-600);
   	font-weight: 600;
}


/* 내 정보 관리 (메뉴)  */
#container .content  .menu_wrap .my_info {
	margin-bottom: 24px;
}
#container .content  .menu_wrap .my_info .info {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    gap: 20px;
}

#container .content  .menu_wrap .my_info .info_box {
    display: flex;
    width: calc(50% - 10px); 
    height: 100px;
    border: 1px solid var(--line-color2);
    border-radius: 4px;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box; 
}

#container .content  .menu_wrap .my_info .info_box:nth-child(odd):last-child {
    width: calc(50% - 10px);
}

/* 내 정보 관리 (글자/화살표)  */
#container .content  .menu_wrap .my_info .info_box .info_txt span {
	font-size: 18px;
	font-weight: 600;
}
#container .content  .menu_wrap .my_info .info_box .info_txt p {
	font-size: 14px;
	color: var(--txt-color-500);
}

#container .content  .menu_wrap .my_info .info_box img {
	width: 30px;
	height: 30px;
	margin-left: auto;
}
	
