@charset "UTF-8";

#container .content {
	margin: 0px auto;
	padding: 0 40px;
	width: 1160px;
}





/* 사용자 정보 */
#container .user_wrap {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#container .user_wrap .user {
	display: flex;
	gap: 30px;
	align-items: center;
}

#container .user_wrap .user .user_avatar {
	width: 98px;
	height: 98px;
	border-radius: 10px;
	border: 1px solid var(--line-color3);
	background-color: #fff;
    background-position: 60% 70%;
    background-repeat: no-repeat;
    background-size: 80%;
}

#container .user_wrap .user .user_info  {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

#container .user_wrap .user .user_info .user_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#container .user_wrap .user .user_info .user_title h2 {
	font-size: 26px;
	font-weight: 700;
}

#container .user_wrap .user .user_info .user_count {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 16px;
	font-weight: 400;
	color: var(--txt-color-500);
}

#container .user_wrap .user .user_info .user_introduce {
	font-size: 16px;
	font-weight: 400;
	color: var(--txt-color-500);
}

#container .user_wrap .user_link {
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
}

#container .user_wrap .user_link:before {
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 4px;
	vertical-align: middle;
	background: url(/images/mypage/link_181a1c.png) no-repeat center;
	background-size: contain;
	transform: rotate(135deg);
}





/* 네비게이션 버튼 */
#container .nav_wrap {
	margin: 30px 0 40px 0;
    height: 56px;
    display: flex;
    align-items: center;
}

#container .nav_wrap ul {
	flex: 1;
	display: flex;
	white-space: nowrap;
	height: 56px;
	border-bottom: 1px solid rgba(118, 118, 127, 0.15);
}

#container .nav_wrap .btn_tab {
	position: relative;
	height: 56px;
	border: none;
	padding: 0;
}

#container .nav_wrap .btn_tab a {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.4px;
	display: block;
}

#container .nav_wrap .btn_tab:first-child a {
	margin-left: 0px;
}

#container .nav_wrap .btn_tab a span {
	position: relative;
	padding: 12px 20px;
	display: flex !important;
	align-items: center !important;
	justify-content: center;
	height: 56px;
}

#container .nav_wrap .btn_tab a.active {
	font-weight: 700;
	color: #181a1c;
}

#container .nav_wrap .btn_tab a.active span::after {
	content: '';
    width: 100%;
    height: 3px;
    background-color: #181a1c;
    position: absolute;
    bottom: 0px;
    left: 0px;
}





/* 레시피 */
#container .recipe_wrap {
	display: flex;
	flex-direction: column;
	gap: 44px;
}

/* 레시피 > 정렬 */
#container .recipe_wrap .recipe_util {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -.2px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--txt-color-500);
}

#container .recipe_wrap .recipe_util .recipe_header {
	color: #181A1C;
	font-size: 22px;
	font-weight: 700;
}

#container .recipe_wrap .recipe_util .recipe_sort {
	display: flex;
	gap: 16px;
}

/* 레시피 > 레시피 목록 */
#container .recipe_wrap .recipe_list {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

#container .recipe_wrap .recipe_list .recipe {
	width: 520px;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 30px;
}

#container .recipe_wrap .recipe_list .recipe .recipe_image {
	width: 128px;
	height: 128px;
	border-radius: 12px;
	border: 1px solid var(--line-color3);
}

#container .recipe_wrap .recipe_list .recipe .recipe_info {
	width: 362px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

#container .recipe_wrap .recipe_list .recipe .recipe_info .recipe_title {
	font-size: 18px;
	font-weight: 600;
}

#container .recipe_wrap .recipe_list .recipe .recipe_info .recipe_introduce {
	color: var(--txt-color-500);
	font-size: 16px;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 레시피 > 레시피 목록 > 레시피 상세 */
#container .recipe_wrap .recipe_list .recipe .recipe_info .recipe_detail {
	display: flex;
	align-items: center;
	gap: 10px;
}

#container .recipe_wrap .recipe_list .recipe .recipe_info .recipe_detail .detail_item {
	display: flex;
	align-items: center;
	gap: 5px;
}

#container .recipe_wrap .recipe_list .recipe .recipe_info .recipe_detail .detail_item img {
	width: 14px;
	height: 14px;
}

#container .recipe_wrap .recipe_list .recipe .recipe_info .recipe_detail .detail_item p {
	color: var(--txt-color-500);
	font-size: 14px;
}

#container .recipe_wrap .recipe_list .recipe .recipe_info .recipe_category {
	display: flex;
	align-items: center;
	gap: 4px;
}

#container .recipe_wrap .recipe_list .recipe .recipe_info .recipe_category a {
	display: flex;
	background: #F2F2F2;
	border-radius: 20px;
	font-size: 12px;
	font-weight: 400;
	height: 24px;
	align-items: center !important;
	justify-content: center;
	margin-top: 5px;
	padding: 0 5px;
}





/* 클래스 */
#container .class_wrap {
	display: flex;
	flex-direction: column;
	gap: 34px;
}

/* 클래스 > 정렬 */
#container .class_wrap .class_util {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -.2px;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--txt-color-500);
}

#container .class_wrap  .class_util .class_header {
	color: #181A1C;
	font-size: 22px;
	font-weight: 700;
}


#container .class_wrap .class_util .class_sort {
	display: flex;
	gap: 16px;
}

/* 클래스 > 클래스 목록 */
#container .class_wrap .class_list {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

#container .class_wrap .class_list .class {
	width: 520px;
	height: 128px;
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 30px;
}

#container .class_wrap .class_list .class a {
	position: relative;
}

#container .class_wrap .class_list .class .class_image {
	width: 168px;
	height: 108px;
	border-radius: 10px;
	border: 1px solid var(--line-color3);
}

/* 클래스 > 클래스 목록 > 태그 */
#container .class_wrap .class_list .class p.flag {
	position: absolute;
	top: 8px;
	left: 10px;
    flex: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 24px;
    padding: 0 8px;
    background: var(--txt-color-600);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    line-height: 0;
    letter-spacing: -.2px;
}

#container .class_wrap .class_list .class p.flag.open {
	background: #00B968;
	color: #FFF;
}

#container .class_wrap .class_list .class .class_info {
	width: 322px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

#container .class_wrap .class_list .class .class_info .class_title {
	font-size: 18px;
	font-weight: 600;
}

#container .class_wrap .class_list .class .class_info .class_introduce {
	color: var(--txt-color-500);
	font-size: 16px;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#container .class_wrap .class_list .class .class_info .class_detail {
	display: flex;
	align-items: center;
	gap: 10px;
}

#container .class_wrap .class_list .class .class_info .class_detail .detail_item {
	display: flex;
	align-items: center;
	gap: 5px;
}

#container .class_wrap .class_list .class .class_info .class_detail .detail_item img {
	width: 14px;
	height: 14px;
}

#container .class_wrap .class_list .class .class_info .class_detail .detail_item p {
	color: var(--txt-color-500);
	font-size: 14px;
}






/* 목록 없음 표시 */
#container .content .list_empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 70px;
	margin-top: 120px;
}

#container .content .list_empty span {
	text-align: center !important;
	margin-bottom: 32px !important;
	color: #7E8082;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.025em;
	font-size: 16px;
}