@charset "UTF-8";

#container .content {
	margin: 0px auto;
	padding: 0 108px;
	width: 1160px;
}

#container .content .myreview_wrap {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 40px;
	margin-bottom: 80px;
}



/* 헤더 (링크) */
#container .content .myreview_wrap .myreview_header a {
	padding: 8px 0px;
	color: var(--txt-color-500);
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.02em;
	font-size: 14px;
}

#container .content .myreview_wrap .myreview_header a span {
	display: flex;
	align-items: center;
	gap: 4px;
	
}

#container .content .myreview_wrap .myreview_header a span img {
	width: 20px;
	height: 20px;
}

/* 헤더 (제목) */
#container .content .myreview_wrap .myreview_header h2 {
	margin-top: 8px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
}



/* 내 리뷰 개수 */
#container .content .myreview_wrap .myreview_count span {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.025em;
	font-size: 12px;
	color: var(--txt-color-500);
}





/* 더보기 버튼 */
#container .content .more_review_btn {
	margin-top: 24px;
}
