@charset "UTF-8";

/* 내 리뷰 */
#container .content .myreview_wrap .myreview_list li {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

#container .content .myreview_wrap .myreview_list li + li {
	margin-top: 48px;
}

/* 내 리뷰 (제목) */
#container .content .myreview_wrap .myreview_list .myreview_title {
	display: flex;
	align-items: center;
	gap: 16px;
}

#container .content .myreview_wrap .myreview_list .myreview_title a {
	font-weight: 500;
	font-size: 18px;
	cursor: pointer;
}

#container .content .myreview_wrap .myreview_list .myreview_title p {
	font-size: 14px;
	color: var(--txt-color-500);
}


/* 내 리뷰 (내 리뷰) */
#container .content .myreview_wrap .myreview_list .myreview {
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #FFF;
	display: flex;
	justify-content: flex-start;
	gap: 15px;
	padding: 18px 24px 24px;
	border-radius: 4px;
	border: 1px solid var(--line-color2);
}

#container .content .myreview_wrap .myreview_list .myreview img {
	border-radius: 50%;
	background: #ddd;
	width: 32px;
	height: 32px;
}

#container .content .myreview_wrap .myreview_list .myreview_info {
	width: 100%;
}

#container .content .myreview_wrap .myreview_list .myreview_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
}

#container .content .myreview_wrap .myreview_list .myreview_header .myreview_writer {
	display: flex;
	gap: 8px;
	align-items: center;
}

#container .content .myreview_wrap .myreview_list .myreview_header .myreview_writer span {
	font-size: 14px;
	font-weight: 500;
}

#container .content .myreview_wrap .myreview_list .myreview_header .myreview_writer span:last-child {
	font-size: 12px;
	font-weight: 300;
	color: var(--txt-color-500);
}

#container .content .myreview_wrap .myreview_list .myreview_header .myreview_action {
	display: flex;
	gap: 8px;
	align-items: center;
}

#container .content .myreview_wrap .myreview_list .myreview_header .myreview_action a {
	font-size: 14px;
	font-weight: 500;
	color: var(--txt-color-500);
}

/* 리뷰 (목록 - 별점) */
#container .content .myreview_wrap .myreview_list .myreview_score {
	display: flex;
	text-align: center;
	gap: 5px;
	margin-bottom: 12px;
}

#container .content .myreview_wrap .myreview_list .myreview_score .star {
	display: flex;
	text-align: center;
	gap: 2px;
}

#container .content .myreview_wrap .myreview_list .myreview_score .star img {
	width: 16px;
	height: 16px;
	background: none;
}

#container .content .myreview_wrap .myreview_list .myreview_score p {
	font-size: 14px;
	color: var(--txt-color-500);
}

#container .content .myreview_wrap .myreview_list .myreview_content {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;
}


