@charset "UTF-8";

#container .content {
	margin: 0px auto;
	padding: 0 40px;
	width: 1160px;
}

#container .content .guide_wrap {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 40px;
	margin-bottom: 80px;
}





/* 타이틀 (링크) */
#container .content .guide_wrap .guide_title a {
	padding: 8px 0px;
	color: var(--txt-color-500);
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: -0.02em;
	font-size: 14px;
}

#container .content .guide_wrap .guide_title a span {
	display: flex;
	align-items: center;
	gap: 4px;
	
}

#container .content .guide_wrap .guide_title a span img {
	width: 20px;
	height: 20px;
}

/* 타이틀 (제목) */
#container .content .guide_wrap .guide_title h2 {
	margin-top: 8px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
}



/* 저장한 키친가이드 개수 */
#container .content .guide_wrap .guide_count span {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.025em;
	font-size: 12px;
	color: var(--txt-color-500);
}



/* 가이드 요소 */
#container .content .guide_wrap .guide_list .guide_item {
	height: 160px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--line-color2);
	align-items: center;
}

#container .content .guide_wrap .guide_list .guide_item a {
	display: flex;
	width: 100%;
	text-decoration: none;
	color: inherit;
}

#container .content .guide_wrap .guide_list .guide_item a .guide_details {
	display: flex;
	flex-direction: column;
	width: 100%;
}






/* 저장한 가이드 내용 */
#container .content .guide_wrap .guide_list .guide_item .guide_details {
	display: flex;
	flex-direction: column;
	width: 100%;
}




/* 저장한 가이드 상단 */
#container .content .guide_wrap .guide_list .guide_item .guide_details .guide_top {
	display: flex;
	justify-content: space-between;	
}

#container .content .guide_wrap .guide_list .guide_item .guide_details .guide_top span{
	font-size: 14px;
	font-weight: 300;
	color: var(--txt-color-500);
}


/* 가이드 찜 버튼 */
#container .content .guide_wrap .guide_list .guide_item .guide_details .guide_top .favorite_btn {
	width: 17px;
    height: 17px;
    background-image: url('/images/recipe/star_full.png');
    background-color: #fff;
    background-size: cover;
    border: none;
    cursor: pointer;
}
#container .content .guide_wrap .guide_list .guide_item .guide_details .guide_top .favorite_btn.active {
	background-image: url('/images/recipe/star_empty.png');
}




#container .content .guide_wrap .guide_list .guide_item .guide_details span {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}





/* 가이드 날짜 정보 */
#container .content .guide_wrap .guide_list .guide_item .guide_details .info {
	display: flex;
	gap: 12px;
	margin-bottom: 13px;
}
#container .content .guide_wrap .guide_list .guide_item .guide_details .info p {
	font-size: 12px;
}
#container .content .guide_wrap .guide_list .guide_item .guide_details .info p:first-child {
	color: var(--point-color2);
}
#container .content .guide_wrap .guide_list .guide_item .guide_details .info p:nth-of-type(2) {
	color: var(--txt-color-500);
}





/* 스크랩, 날짜 구분 점 */
#container .content .guide_wrap .guide_list .guide_item .guide_details .info p {
    position: relative;
}
#container .content .guide_wrap .guide_list .guide_item .guide_details .info p:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -7px;
    width: 2px;
    height: 2px;
    background-color: var(--txt-color-500);
    border-radius: 50%; 
    transform: translateY(-50%);
}



/* 가이드 작성자 정보 */
#container .content .guide_wrap .guide_list .guide_item .guide_details .writer {
	display: flex;
	align-items: center;
	gap: 10px;
}
#container .content .guide_wrap .guide_list .guide_item .guide_details .writer p {
	font-size: 12px;
	color: var(--txt-color-500);
}

#container .content .guide_wrap .guide_list .guide_item .guide_details .writer img {
	border-radius: 50%;
	width: 24px;
	height: 24px;
}

#container .content .guide_wrap .guide_list .guide_item .guide_details .writer .profile_img {
	display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ddd;
    flex-shrink: 0;
}



/* 더보기 버튼 */
#container .content .more_btn {
	margin-top: 24px;
}

#container .content .more_btn button {
	font-weight: 500;
	border-radius: 4px;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 12px 24px;
	height: 48px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: var(--txt-color-600);
    background-color: #FFF;
    border: 1px solid var(--line-color2);
    display: flex;
    gap: 5px;
    align-items: center;
}

#container .content .more_btn button:hover {
	background: #F3F5F7;
}

#container .content .more_btn button img {
	width: 20px;
	height: 20px;
}




