@charset "UTF-8";

/* 헤더 상단 */
#header .header_top {
	margin: 0px auto;
	padding: 0px 40px;
	width: 1160px;
}

#header .header_top .inner {
	display: flex;
	justify-content: space-between;
	padding: 4px 0px;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-500);
}

/* 헤더 상단 (요리팁) */
#header .header_top .inner .cook_tip {
	display: flex;
}

#header .header_top .inner .cook_tip a {
	padding: 8px 0px;
	display: inline-block;
	border-radius: 4px;
	color: var(--txt-color-500);
}

/* 헤더 상단 (유틸 메뉴) */
#header .header_top .inner .util_menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#header .header_top .inner .logout_state {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#header .header_top .inner .login_state {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#header .header_top .inner .util_menu .divider {
	width: 1px;
	height: 13px;
	background: var(--line-color1);
	margin-left: 8px;
	margin-right: 8px;
}

#header .header_top .inner .util_menu a {
	color: var(--txt-color-500);
}

#header .header_top .inner .util_menu .user_name {
	color: #666;
	font-weight: 600;
}



/* 헤더 하단 */
#header .header_bottom {
	display: flex;
	justify-content: center;
	width: 100%;
	min-width: 1160px;
	height: 60px;
	margin: 0px auto;
	position: relative;
	background-color: #fff;
    border-bottom: 1px solid var(--line-color1);
    box-sizing: content-box;
    z-index: 100;
    align-items: center;
}

#header .header_bottom .inner {
	width: 1080px;
	display: flex;
	align-items: center;
}

/* 헤더 하단 (로고) */
#header .header_bottom .inner .logo {
	width: 100px;
	justify-content: center;
	align-items: center;
	margin-right: 40px;
}

/* 헤더 하단 (메뉴) */
#header .header_bottom .inner .gnb ul {
	display: flex;
    align-items: center;
    gap: 32px;
}

#header .header_bottom .inner .gnb ul li {
    padding: 8px 10px;
    font-weight: 700;
}

#header .header_bottom .inner .gnb ul li.active a {
	color: var(--point-color1);
}

/* 헤더 하단 (검색창) */
#header .header_bottom .inner .search_form {
	display: none;
	margin-left: auto !important;
	/* width: 308px; */
	width: 280px;
	padding: 0px 12px;
	border: 1px solid var(--line-color1);
	border-radius: 4px;
	align-items: center;
	justify-content: space-between;
}

#header .header_bottom .inner .search_form .search_word {
	border: 0px;
	padding: 0px;
	margin: 0px;
	outline: none;
	box-shadow: none;
	border-radius: 0px;
	display: block;
	width: 100%;
	height: 40px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	font-weight: 400;
	text-align: left;
	color: var(--txt-color3);
}

#header .header_bottom .inner .search_form .search_btn {
	background: #fff;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

#header .header_bottom .inner .search_form .search_btn img {
	overflow: hidden;
	width: 24px;
	height: 24px;
}