@charset "UTF-8";

#header {
	border: 1px solid red;
}

#header .header_top {
	margin: 0px auto;
	padding: 0px 40px;
	width: 1160px;
}

#header .header_top .top_inner {
	display: flex;
    /* -webkit-box-pack: justify; */
    justify-content: space-between;
    padding: 4px 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: rgb(126, 128, 130);
}

#header .header_top .top_inner .tip a {
	padding: 8px 0px;
	display: inline-block;
	border-radius: 4px;
}


#header .header_top .top_inner .tip span {
	padding-left: 0px;
}