@charset "UTF-8";


/* 모달창 */
.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

#container .modal-dialog {
	margin-top: 44px;
}

#container .modal-content {
	border: none;
	border-radius: 12px;
}

#container .modal-content .modal-header {
	padding: 20px 20px 14px;
	border-bottom: 1px solid var(--line-color1);
}

#container .modal-content .modal-header h5 {
	color: var(--txt-color-600);
	font-size: 18px;
	font-weight: 600;
}

#container .modal-content .modal-header .btn-close {
	background-size: 12px;
}

#container .modal-content .modal-header .btn-close:hover {
	background-color: #F3F5F7;
}

#container .modal-content .modal-header .btn-close:active {
    outline: none !important;
    box-shadow: none !important;
}

#container .modal-content .modal-body {
	padding: 20px;
}

#container .modal-content .modal-body .form-group:not(:first-child) {
	margin-top: 24px;
}

#container .modal-content .modal-body label {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 8px;
}

#container .modal-content .modal-body .star_group {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 2px;
	pointer-events: auto;
}

#container .modal-content .modal-body .star_group .star {
	width: 20px;
	height: 20px;
}

#container .modal-content .modal-body .form-control:focus {
	outline: none !important;
    box-shadow: none !important;
    border: 1px solid var(--point-color2);
}

#container .modal-content .modal-footer {
	padding: 8px 20px;
	border-top: 1px solid var(--line-color1);
}

#container .modal-content .modal-footer .btn {
	border-radius: 4px;
	width: auto;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 4px 16px;
	height: 40px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	font-weight: 500;
	color: var(--txt-color-600);
	background-color: #F2F2F2;
	border: none;
}

#container .modal-content .modal-footer .btn:hover {
	background-color: #E7E7E7;
}

#container .modal-content .modal-footer .btn-disable {
	color: #999;
}

#container .modal-content .modal-footer .btn-disable:hover {
	background: #F2F2F2;
}

#container .modal-content .modal-footer .btn-primary {
	background: var(--point-color2);
	color: #FFF;
}

#container .modal-content .modal-footer .btn-primary:hover {
	background: #0073E6;
    color: #F2F2F2;
}