@charset "UTF-8";

.pagination_wrap {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100%;           
	padding-bottom: 80px;
}

 .pagination {
    text-align: center;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    padding: 8px 15px;
    display: flex;
    align-items: center; 
}

.pagination a.active {
    font-weight: 600;
    color: #1A7CE2;
    position: relative;  
}

.pagination a.active::after {
    content: "";
    position: absolute;
    bottom: 7px; 
    left: 1;
    width: 10px; 
    height: 2px; 
    background-color: #1A7CE2;
}


.pagination .prev, .pagination .next {
    font-size: 18px;
}

.pagination .prev img, .pagination .next img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px; 
}

 