@charset "UTF-8";

.modal-body .event_wrap {
	display: flex;
	flex-direction: column;
	gap: 40px;
}





/* 이벤트 헤더 */
.modal-body .event_wrap .event_header span {
	color: var(--txt-color-500);
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;
	font-size: 14px;
}

.modal-body .event_wrap .event_header h2 {
	margin-top: 8px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: -0.03em;
	font-size: 32px;
}

.modal-body .event_wrap .event_header .event_info {
	margin-top: 8px;
	display: flex;
	gap: 4px;
	align-items: center;
}

.modal-body .event_wrap .event_header .event_info .period {
	background: #000;
	border-radius: 30px;
	padding: 4px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
}

.modal-body .event_wrap .event_header .event_info .period span {
	white-space: pre-wrap;
	font-size: 12px;
	color: #FFF;
	line-height: 16px;
}





/* 이벤트 내용 */
.modal-body .event_wrap .event_content {
	white-space: pre-line;
	line-height: 28px;
	word-break: break-word;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: -0.025em;
}

.modal-body .event_wrap img {
  width: 500px;
  height: auto;
  max-width: 100%;
  display: block;
}