@charset "UTF-8";

#container .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 80px 40px;
	margin: 0px auto;
	min-height: 100vh;
	max-width: 448px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
}

#container .content .find_wrap {
	padding: 48px 40px;
	width: 448px;
	border: 1px solid var(--line-color2);
	border-radius: 4px;
}

#container .content .find_wrap h2 {
	margin-bottom: 64px;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	letter-spacing: -1.2px;
	color: #212329;
}




#container .tab_button {
	margin-bottom: 32px;
	display: flex;
	border: 1px solid var(--line-color3);
	border-radius: 4px;
}

#container .tab_button button {
	flex: 1 1 0%;
	padding: 12px 0px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	text-align: center;
	border: none;
	outline: 0px;
	background: #FFF;
}

#container .tab_button button.active {
	font-weight: 600;
	background: #F3F8FF;
}

#container .tab_button button + button {
	border-left: 1px solid var(--line-color3);
}





/* 폼 (이름) */
#container .name_field label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .name_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .name_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .name_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 폼 (휴대폰 번호) */
#container .phone_field {
	margin-top: 24px;
}

#container .phone_field label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .phone_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .phone_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .phone_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 폼 (아이디) */
#container .id_field {
	margin-top: 24px;
}

#container .id_field label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .id_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .id_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .id_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 폼 (이메일) */
#container .email_field {
	margin-top: 24px;
}

#container .email_field label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .email_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .email_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .email_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 폼 (제출 버튼) */
#container .submit_btn {
	border-radius: 4px;
	border: none;
	margin: 32px 0px 0px;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px 32px 16px;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.4px;
	font-weight: 500;
	color: #FFF;
	background-color: var(--point-color2);
}


/* 하단 정보 */
#container .info {
	padding: 24px;
	margin: 0px auto 32px;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#container .info .copy {
	font-size: 12px;
	font-weight: 300;
	color: var(--txt-color-400);
	letter-spacing: -0.02em;
}