@charset "UTF-8";

#container .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 80px 40px;
	margin: 0px auto;
	min-height: 100vh;
	max-width: 448px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
}

#container .content .result_wrap {
	padding: 48px 40px;
	width: 448px;
	border: 1px solid var(--line-color2);
	border-radius: 4px;
}

#container .content .result_wrap h2 {
	margin-bottom: 48px;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	letter-spacing: -1.2px;
	color: #212329;
}

#container .content .result_wrap h3 {
	word-break: keep-all;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: -0.4px;
}

#container .content .result_wrap h5 {
	margin-top: 16px;
	margin-bottom: 32px;
	color: #8E929F;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	font-weight: 300;
}

#container .content .result_wrap .send_btn {
	border-radius: 4px;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 11px 24px 13px;
	height: 48px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	font-weight: bold;
	color: var(--point-color2);
	background: #FFF;
	border: 1px solid var(--point-color2);
}

#container .content .result_wrap .go_login {
	text-align: center;
	margin-top: 24px;
	display: block;
}

#container .content .result_wrap .go_login a {
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	font-weight: 600;
	color: #8E929F;
	text-decoration: underline;
}



/* 하단 정보 */
#container .buttom_info {
	padding: 24px;
	margin: 0px auto 32px;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* 하단 정보 (출처) */
#container .buttom_info .copy {
	font-size: 12px;
	font-weight: 300;
	color: var(--txt-color-400);
	letter-spacing: -0.02em;
}


