@charset "UTF-8";


#container .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 80px 40px;
	margin: 0px auto;
	min-height: 100vh;
	max-width: 448px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
}

#container .content .join_wrap {
	padding: 48px 40px;
	width: 448px;
	border: 1px solid var(--line-color2);
	border-radius: 4px;
}


#container .content .join_wrap h3 {
	font-weight: 400;
	word-break: keep-all;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: -0.4px;
}




/* 기본 정보 */
#container .join_wrap .basic_info {
	margin: 32px 0px 0px;
}

#container .join_wrap .basic_info h3 {
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: var(--txt-color-600);
}

/* 기본 정보 (이름) */
#container .join_wrap .basic_info .name_field label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .join_wrap .basic_info .name_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .join_wrap .basic_info .name_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .join_wrap .basic_info .name_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 기본 정보 (휴대폰 번호) */
#container .join_wrap .basic_info .phone_field {
	margin-top: 24px;
}

#container .join_wrap .basic_info .phone_field label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .join_wrap .basic_info .phone_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .join_wrap .basic_info .phone_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .join_wrap .basic_info .phone_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}





/* 회원정보 */
#container .join_wrap .member_info h3 {
	margin-top: 32px;
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: var(--txt-color-600);
}

/* 회원정보 (아이디) */
#container .join_wrap .member_info .id_field label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .join_wrap .member_info .id_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .join_wrap .member_info .id_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .join_wrap .member_info .id_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 회원정보 (비밀번호) */
#container .join_wrap .member_info .password_field {
	margin-top: 24px;
}


#container .join_wrap .member_info .password_field label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .join_wrap .member_info .password_field label.sub_label {
	color: #8E929F;
}

#container .join_wrap .member_info .password_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .join_wrap .member_info .password_field input + input {
	margin-top: 12px;
}

#container .join_wrap .member_info .password_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .join_wrap .member_info .password_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 회원정보 (닉네임) */
#container .join_wrap .member_info .nickname_field {
	margin-top: 24px;
}

#container .join_wrap .member_info .nickname_field .nickname_label {
	display: flex;
	justify-content: space-between;
}

#container .join_wrap .member_info .nickname_field .nickname_label label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .join_wrap .member_info .nickname_field .nickname_label button {
	display: flex;
	gap: 4px;
	align-items: center;
	border: none;
	background: none;
}

#container .join_wrap .member_info .nickname_field .nickname_label button span {
	color: var(--point-color2);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.02em;
	
}

#container .join_wrap .member_info .nickname_field .nickname_label button img {
	width: 18px;
	height: 18px;
}

#container .join_wrap .member_info .nickname_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .join_wrap .member_info .nickname_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .join_wrap .member_info .nickname_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}

/* 회원정보 (이메일) */
#container .join_wrap .member_info .email_field {
	margin-top: 24px;
}

#container .join_wrap .member_info .email_field label {
	font-weight: 500;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: var(--txt-color-600);
}

#container .join_wrap .member_info .email_field input {
	appearance: none;
	padding: 11px 0px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	background: rgb(255, 255, 255);
	border: 1px solid rgb(215, 219, 230);
	border-radius: 4px;
	outline: none;
}

#container .join_wrap .member_info .email_field input.danger {
	appearance: none;
	padding: 11px 32px 13px 12px;
	width: 100%;
	height: 50px;
	vertical-align: middle;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: rgb(33, 35, 41);
	border-radius: 4px;
	outline: none;
	border: 1px solid #F45452;
	background: rgb(254, 245, 245);
}

#container .join_wrap .member_info .email_field p {
	display: none;
	margin-top: 4px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.2px;
	color: #F45452;
}



/* 이메일 안내문 */
#container .email_info {
	display: flex;
	margin: 16px 0px 32px;
	padding: 11px 12px 13px;
	border-radius: 4px;
	color: rgb(255, 132, 0);
	background-color: rgb(255, 249, 242);
}

#container .email_info img {
	margin-right: 5px;
	margin: 3px 5px 3px 3px;
	width: 16px;
	height: 16px;
}

#container .email_info p {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.4px;
}



/* 다음 버튼 */
#container .btn_primary_wide {
	margin: 32px 0px 0px;
}



/* 하단 정보 */
#container .bottom_info {
	padding: 24px;
	margin: 0px auto 32px;
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* 하단 정보 (출처) */
#container .bottom_info .copy {
	font-size: 12px;
	font-weight: 300;
	color: var(--txt-color-400);
	letter-spacing: -0.02em;
}


