@charset "UTF-8";


#container .content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 80px 40px;
	margin: 0px auto;
	min-height: 100vh;
	max-width: 448px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
}


/* 회원 정보 */
#container .content .info_wrap {
	width: 448px;
}

/* 요소 제목 */
#container .content .info_wrap h1 {
	font-weight: 700;
	word-break: keep-all;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: -0.4px;
}
#container .content .info_wrap h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: var(--txt-color-600);
}
#container .content .info_wrap p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.4px;
	color: var(--txt-color-600);
}


#container .info_wrap .account_info,
#container .info_wrap .member_info,
#container .info_wrap .email_info {
    padding: 24px 0;
}

#container .info_wrap .member_info,
#container .info_wrap .email_inf {
    border-top: 1px solid var(--line-color2);
}

#container .info_wrap .account_info .id_field,
#container .info_wrap .email_info .email_field, 
#container .info_wrap .member_info .name_field {
    margin-top: 16px;
}

#container .info_wrap .member_info .name_field,
#container .info_wrap .member_info .nickname_field {
    margin-bottom: 24px;
}

/* 라벨 */
#container .info_wrap .member_info label {
    font-weight: 500;
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: var(--txt-color-600);
}

/* 수정 버튼 */
#container .info_wrap .info_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#container .info_wrap .info_title h3 {
	margin: 0;
}
#container .info_wrap .info_title .modify_btn_wrap .modify_btn {
	display: flex;	
	align-items: center;
	gap: 2px;
	background: none;
	border: none;
}
#container .info_wrap .info_title .modify_btn_wrap .modify_btn img {
	height: 20px;
}
#container .info_wrap .info_title .modify_btn_wrap .modify_btn p {
    font-size: 16px;
    margin: 0;
    line-height: 1;
    color: var(--point-color2);
}



/* 회원탈퇴 버튼 */
#container .info_wrap .btn_wrap {
    padding-top: 24px;
}

#container .info_wrap .btn_wrap .delete_btn {
    width: 100%; 
    border: 1px solid var(--line-color2);
    height: 32px;
    background: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}